.grid-item {
  height: 200px;
  width: 200px;
  border:4px solid skyblue;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.grid{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid skyblue;
}
.banner{
  height: 200px;
  width: 100%;
  border: 1px solid skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(17, 3, 207),skyblue);
 
}
.SearchBar{
  height: 200px;
  width: 100%;
  border: 1px solid skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header{
  color: skyblue;
  color:white;
}

.search-item{
  margin: 10px;
}

@media screen and (max-width:600px){
  .SearchBar{
    height: 200px;
    width: 100%;
    border: 1px solid skyblue;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
   
}

